<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="music">
    <meta name="keywords" content="music, doctorblinch">

    <title>Контакты</title>

    <link rel="stylesheet" type="text/css" href="doctorblinch/style.css">
    <link rel="shortcut icon" href="../images/titleImg.ico" />
  </head>

  <body>
    <div id="page-wrap">
      <header>
        <span>
          <a href="../index.html" title="На главную">На главную</a>
          <a href="genres.html" title="Музыкальные жанры">Жанры</a>
          <a href="bands.html" title="Контакты">Группы</a>
          <a href="contact.html" title="Контакты">Контакты</a>
        </span>
      </header>

      <br>
      <hr>


      <article>
        <h2>Группы, композиторы и исполнители</h2>
        <br>
        <dl>
          <li>
            <b>A</b>
            <ul style="list-style-type:square">
              <li>Adrenaline Mob</li>
              <li>Aerosmith</li>
              <li>Alice in chains</li>
              <li>Attack Attack!</li>
            </ul>
          </li>

          <li>
            <b>B</b>
            <ul style="list-style-type:square">
              <li>Breaking Benjamin</li>
              <li>Bullet for my Valentine</li>
            </ul>

          </li>
          <li>
            <b>D</b>
            <ul style="list-style-type:square">
              <li>Deftones</li>
              <li>Disturbed</li>
            </ul>
          </li>
          <li>
            <b>F</b>
            <ul style="list-style-type:square">
              <li>Five Finger Death Punch</li>
            </ul>
          </li>
          <li>
            <b>G</b>
            <ul style="list-style-type:square">
              <li>Green Day</li>
            </ul>

          </li>
          <li>

            <b>N</b>
            <ul style="list-style-type:square">
              <li>Nickelback</li>
              <li>Nine inch Nails</li>
              <li>Nirvana</li>
            </ul>

          </li>
        </dl>

      </article>

    </div>

    <hr>
    <footer>
      <p>@doctorblinch.com by Ivan Horokhovskyi 2018 </p>
    </footer>

  </body>

</html>
