<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="music">
    <meta name="keywords" content="music, doctorblinch">

    <title>Контакты</title>

    <link rel="stylesheet" type="text/css" href="doctorblinch/style.css">
    <link rel="shortcut icon" href="../images/titleImg.ico" />
  </head>

  <body>
    <div id="page-wrap">
      <header>
        <span>
          <a href="../index.html" title="На главную">На главную</a>
          <a href="genres.html" title="Музыкальные жанры">Жанры</a>
          <a href="bands.html" title="Контакты">Группы</a>
          <a href="contact.html" title="Контакты">Контакты</a>
        </span>
      </header>

      <br>
      <hr>


      <article>
        <h2>Чему посвящен данный сайт?</h2>
        <p>На данный сайт я собираюсь выкладывать интересные мне жанры музыки, концерты и прочие около музыкальные вещи и события.</p>
        <br>
        <h3>Вы можете со мной связаться, мои котакты:</h3>
        <ul style="list-style-type:disc">
          <li>Telegram <b>@doctorblinch</b></li>
          <li>Email <b>ivan.horokhovskyi@gmail.com</b></li>
          <li>Instagram <b>@doctor_blinch</b></li>
        </ul>
      </article>

    </div>

    <hr>
    <footer>
      <p>@doctorblinch.com by Ivan Horokhovskyi 2018 </p>
    </footer>

  </body>

</html>
