<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="music">
    <meta name="keywords" content="music, doctorblinch">

    <title>Жанры музыки</title>

    <link rel="stylesheet" type="text/css" href="doctorblinch/style.css">
    <link rel="shortcut icon" href="../images/titleImg.ico" />
  </head>

  <body>
    <div id="page-wrap">
      <header>
        <span>
          <a href="../index.html" title="На главную">На главную</a>
          <a href="genres.html" title="Музыкальные жанры">Жанры</a>
          <a href="bands.html" title="Контакты">Группы</a>
          <a href="contact.html" title="Контакты">Контакты</a>
        </span>
      </header>

      <br>
      <hr>


      <article>
        <h2>Жанры музыки</h2>
        <p>На сегодняшний день самыми известными и популярными жанрами музыки являются:</p>
        <ol type="1">
          <li><a href="inDevelopment.html">Классическая музыка</a></li>
          <li><a href="inDevelopment.html">Рок</a></li>
          <li><a href="inDevelopment.html">Рэп</a></li>
          <li><a href="inDevelopment.html">Блюз</a></li>
          <li><a href="inDevelopment.html">Джаз</a></li>
          <li><a href="inDevelopment.html">Электронная музыка</a></li>
          <li><a href="inDevelopment.html">Народная музыка</a></li>
        </ol>

        <br>
        <br>
        <p>Ориентировочная таблица распределения видов музыкальных инструментов по жанрам:</p>

        <table style="width:100%">
         <tr>
           <td></td>
           <th>Духовые</th>
           <th>Струнные</th>
           <th>Металлофоны</th>
           <th>Клавишные</th>
           <th>Ударные</th>
           <th>Электромузыкальные</th>
         </tr>
         <tr>
           <th>Классическая <br>музыка</th>
           <td>+</td>
           <td>+</td>
           <td>+</td>
           <td>+</td>
           <td>+</td>
           <td>-</td>
         </tr>
         <tr>
           <th>Рок</th>
           <td>-</td>
           <td>+</td>
           <td>-</td>
           <td>+</td>
           <td>+</td>
           <td>+</td>
         </tr>
         <tr>
           <th>Блюз</th>
           <td>+</td>
           <td>+</td>
           <td>-</td>
           <td>+</td>
           <td>+</td>
           <td>+</td>
         </tr>
         <tr>
           <th>Джаз</th>
           <td>+</td>
           <td>+</td>
           <td>-</td>
           <td>+</td>
           <td>+</td>
           <td>-</td>
         </tr>
        </table>

      </article>

    </div>

    <hr>
    <footer>
      <p>@doctorblinch.com by Ivan Horokhovskyi 2018 </p>
    </footer>

  </body>

</html>
