<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="music">
    <meta name="keywords" content="music, doctorblinch">

    <title>doctorblinch</title>

    <link rel="stylesheet" type="text/css" href="doctorblinch/style.css">
    <link rel="shortcut icon" href="../images/titleImg.ico" />
  </head>

  <body>
    <div id="page-wrap">
      <header>
        <span>
          <a href="../index.html" title="На главную">На главную</a>
          <a href="genres.html" title="Музыкальные жанры">Жанры</a>
          <a href="bands.html" title="Контакты">Группы</a>
          <a href="contact.html" title="Контакты">Контакты</a>
        </span>
      </header>

      <br>
      <hr>


      <article>
        <p><img src="../images/inDevelopmentM.png"  border="2" usemap="#inDevelopment"></p>
        <map name="inDevelopment">
          <area shape="rect" coords="14,72,136,92" alt="index" href="../index.html">
          <area shape="rect" coords="222,72,216,92" alt="bands" href="bands.html">
          <area shape="rect" coords="137,72,298,92" alt="genres" href="genres.html">
          <area shape="rect" coords="299,72,412,92" alt="contact" href="contact.html">
        </map>
      </article>

    </div>

    <hr>
    <footer>
      <p>@doctorblinch.com by Ivan Horokhovskyi 2018 </p>
    </footer>

  </body>

</html>
